################################
#   Runner Config
################################
# The account to set up the runner under
github_account = ""
# Personal Access Token for the above account
github_pat = ""
# Where the runner should be assigned
github_repo = ""
# Unique password for this runner
runner_password = ""

################################
#   Other Config
################################
# Change the default `vagrant` password
vagrant_password = ""
